name: Crowdstrike scan test
on:
  workflow_dispatch:
env:
  EU_AWS_ID: 861208160487
  EU_AWS_REGION: eu-central-1
jobs:
  build:
    name: Scan Image
    runs-on: ${{ vars.EU_GITHUB_RUNNER }}
    strategy:
      matrix:
        image:
          - name: 861208160487.dkr.ecr.eu-central-1.amazonaws.com/cardoai-eu-ar-ecr-repository-oxygen:backend-main
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: EU ECR login
        uses: CardoAI/composite/ecrlogin_with_role@main
        with:
          aws-region: ${{ env.EU_AWS_REGION }}
          aws-id: ${{ env.EU_AWS_ID }}

      - name: Scan Image
        uses: CardoAI/composite/scan_image_v3@main
        id: scan-image
        with:
          image: ${{ matrix.image.name }}
          falcon-client-id: ${{ secrets.FALCON_CLIENT_ID }}
          falcon-client-secret: ${{ secrets.FALCON_CLIENT_SECRET }}
